body {
  background-color: #0d0a1f;
  font-family: "Poppins", sans-serif;
  color: white;
}

.hero-section {
  background: #000;
}

.hero-title span.highlight {
  color: #ffb400;
}

.sub-text {
  font-size: 25px;
  margin-top: 10%;
}
.orange-text {
  color: #ffc107;
}
.hero-heading {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  color: #ffffff;
}

.hero-heading .highlight {
  color: #ffb400; /* Yellow tone from image */
}

span {
  padding: 0 10px;
}
.cta-btn {
  background: linear-gradient(90deg, #ff9a00, #ff3c8e);
  border: none;
  padding: 14px 28px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

.cta-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 60, 142, 0.4);
}

.bottom-strip {
  background: linear-gradient(90deg, #4d1f7a, #cf1773, #0da6f2, #4d1f7a);
  padding: 25px 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  background-image: url(./assets/color_line.png);
}

.logo-img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -12%;
  width: 60%;
  height: 70%;
}
.heading {
  font-size: 48px;
}
.step-circle {
  width: 70px;
  height: 70px;
  background: linear-gradient(#261736, #401c2e);
  border: 2px solid #e8308c66;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin: auto;
  position: relative;
  z-index: 2;
  /* box-shadow: 0 0 15px rgba(255, 60, 142, 0.4); */
}
.center-line {
  top: 20%;
}
.text_color {
  color: #b3abba;
  font-size: 12px;
}
li {
  padding: 2px;
  color: #b3abba;
}
h5 {
  color: #fafafa;
}
.guideline-card {
  background: linear-gradient(145deg, #261736, #401c2e);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
  border: 1px solid #e8308c33;
}

.guideline-card:hover {
  transform: translateY(-5px);
}

footer a:hover {
  color: #ff3c8e !important;
}
.danger {
  background: #ef44441a;
  color: #fafafa;
  padding: 15px;
  border-radius: 16px;
  font-weight: 400;
  border: 1px solid #ef44444d;
  font-size: 14px;
}
.danger_icon {
  padding: 0 10px;
}
.step_text {
  color: #e8308c;
}
footer {
  background: #1f1726;
  padding: 40px 15%;
  font-size: 12px;
}
.footer_text {
  color: #b3abba;
}
.small_icon {
  position: absolute;
  top: 0;
  right: -25px;
}
.steps_heading {
  font-size: 20px;
  color: #fafafa;
  font-family: Fredoka;
  font-weight: lighter;
}
.fredoka {
  font-family: "Fredoka", cursive;
  font-weight: lighter;
}

.gradient-modal {
  background: linear-gradient(135deg, #ff9a00, #ff3c8e);
  border-radius: 20px;
  color: white;
  padding: 30px;
  border: none;
  height: 420px;
}
.banner_img {
  position: absolute;
  top: 0;
  width: 60%;
}
.modal-content {
  background: transparent;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-title {
  font-weight: 700;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.black-btn {
  background: black;
  color: white;
  border-radius: 30px;
  padding: 8px 20px;
  border: none;
}

.black-btn:hover {
  opacity: 0.85;
}

.form-control {
  border-radius: 10px;
}

.otp-box {
  width: 45px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
.form_input {
  background: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  color: #9f9f9f;
  border: 1px solid #b7b7b7;
}
.btn_border {
  border: 1px solid #fff;
}
@media (max-width: 768px) {
  .img_heading {
    width: 100%;
  }
  .hero-heading {
    font-size: 28px;
  }
  .sub-text {
    font-size: 18px;
  }
  .center-line {
    display: none;
  }
  .logo-img {
    position: relative;
    width: 100%;
  }
}
